* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #8f2626;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #2c1810;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.nav-links a:hover {
    color: burlywood;
}

.hero {
    background: linear-gradient(rgba(44,24,16,0.7), rgba(44,24,16,0.7)),
    url('https://images.unsplash.com/photo-1690983326252-ce6205fb7055?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1920')
    center / cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-top: 60px;
}

.hero-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-conteudo h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-conteudo p {
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.btn {
    display: inline-block;
    padding: 12px 30px;
    background-color:rgb(129, 96, 54);
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

.btn:hover {
    background-color: rgb(254, 207, 145);
}

.sobre {
    padding: 5rem 2rem;
    background-color: #f9f9f9;
    text-align: center;
}

.sobre h2{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #2c1810;
}

.sobre p{
    font-size: 1.1rem;
    max-width: 800px;
    margin: auto;
    color: #666666;
}

.produtos {
    padding: 5rem 2rem;
    background-color: #fff;
}

.produtos h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 3rem;
    color: #2c1810;
}

.produtos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.produto-card {
    background-color: #f9f9f9;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
}

.produto-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.produto-icon {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.preco {
    font-weight: bold;
    color: rgb(129, 96, 54);
    font-size: 1.5rem;
}

.localizacao {
    padding: 5rem 2rem;
    background-color: #f9f9f9;
}

.localizacao h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
    color: #2c1810;

}

.contato-info {
    text-align: center;
    margin-bottom: 2rem; 
}

.mapa {
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 10px;
}

.mapa iframe{
    display: block;
}

